<strong>Olá, {{ provider }}</strong>
<p>O seguinte agendamento foi cancelado </p>
<p>
  <strong>Cliente: </strong> {{ user }} <strong>Email: </strong> {{ email }} <br />
  <strong>Data/hora: </strong> {{ date }} <br />
  <br />
  <small>
    Este horário está novamente disponível
  </small>
</p>
